body{
    font-family: 'Poppins', sans-serif;
font-family: 'Sanchez', serif;
    margin: 0;
}
h1{
    font-size: 40px;
  
}
.color-orange{
color:darkgoldenrod;
}
.flexible-container{

    display:flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
 background-image: linear-gradient(salmon,tomato);
 font-weight: 900;
    padding: 10px 20px ;
    border-radius: 5px;
}


.item{
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    border-radius: 50px;
    background-color:lightblue;
    box-shadow: 10px 10px 40px yellowgreen;

}
.item1{
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    border-radius: 50px;
    background-color:lightpink;
    box-shadow: 10px 10px 40px yellowgreen;

}
.item2{
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    border-radius: 50px;
    background-color:lightsalmon;
    box-shadow: 10px 10px 40px yellowgreen;

}

#web-dev-exp{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#web-baby-dev-exp{
    border-left: 7px solid;
    border-image: linear-gradient(tomato,purple);
    border-image-slice: 1;
}
#mymiss{
    text-align: center;
}
.scroll{
    margin-left: 70px;
}

.pic_box img{
    width : 200px;
    }
    .color-red{
        color:red;
        font-size: 20px;
    }
    .color-white{
        font-size: 20px;
        color:white;
    }
    .hard{
        font-size: 15x;
        color:white;
    }
    #webexxp{
        border-left: 5px solid;
        border-image: linear-gradient(tomato,salmon);
        border-image-slice: 2;
        border-radius: 30px;
    }
    .bolding{
        font-weight: 2000;
      
        font-size:40px;
    }
    .pp{
        font-family:Arial, Helvetica, sans-serif;
        font-size:20px;

    }

footer p{
    text-align: center;
    height:100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color:black;
}

